.exemp{
    margin-top:10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: red 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
}

.lorem{
    margin-top: 10px;
}

