@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h3{
    font-family: 'Roboto Condensed', sans-serif;
    color: #0077b6;
    font-size: 15px;
    margin-top: 50px;
}

p{
    font-family: 'Raleway', sans-serif;
}

div{
    
    background-color: #fff1e6;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    

}